@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input:active,
input:focus {
  border-style: none;
  box-shadow: none !important;
}

@layer components {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 359 81% 46%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background  text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  hr {
    @apply border-t border-gray-500 my-8;
  }
}

.glass {
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
  background: linear-gradient(137deg, rgb(57 116 244 / 15%), rgba(255, 255, 255, 0.1));
  box-shadow: 15px 15px 30px 0 #00000014;
}

.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #76a8ef #e0e0e0;
  padding-right: 12px;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

section,
.section {
  @apply max-w-7xl min-h-[12vh] mx-auto p-8 bg-accent shadow-sm shadow-accent rounded-lg;
}

h1.title {
  @apply text-4xl font-semibold py-2;
}

h2.subtitle {
  @apply text-2xl font-semibold py-2;
}
