@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input:active,
input:focus {
  border-style: none;
  box-shadow: none !important;
}

@layer components {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 7.84%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 359 81% 46%;
    // --primary: 29 100% 50%;
    --primary-foreground: 255 100% 100%;

    --secondary: 0 84% 60%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 13%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background  text-foreground;
  }
}

.glass {
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
  background: linear-gradient(137deg, rgb(57 116 244 / 15%), rgba(255, 255, 255, 0.1));
  box-shadow: 15px 15px 30px 0 #00000014;
}

.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #76a8ef #e0e0e0;
  padding-right: 12px;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

section,
.section {
  @apply max-w-7xl min-h-[12vh] mx-auto p-8 bg-accent shadow-sm shadow-accent rounded-lg;
}

h1.title {
  @apply text-4xl font-semibold py-2;
}

h2.subtitle {
  @apply text-2xl font-semibold py-2;
}

.statItem .value {
  text-shadow:
    2px 0 #3874f5,
    -2px 0 #3874f5,
    0 2px #3874f5,
    0 -2px #3874f5,
    1px 1px #3874f5,
    -1px -1px #3874f5,
    1px -1px #3874f5,
    -1px 1px #3874f5;
  color: black;
  font-size: 7.5rem;
  align-items: center;
  font-weight: 600;
}

hr {
  @apply border-t border-gray-500 my-8;
}
